version: 2.1

orbs:
  node: circleci/node@4.3.0

tests:
  setup:
    docker:
      - image: circleci/node:14.15.4-browsers
    steps:
      - checkout
      - node/install-npm
      - run: node --version
      - node/install-packages
      - run: npm run lint

workflows:
  ci:
    tests:
      - setup
